@font-face {
    font-family: 'kingthings_exeterregular';
    src: url('Kingthings_Exeter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size-large:clamp(20px,5vw,30px);
}
:root {
    --button-background-color: #33345E;
    --font-color:#FAEBD7;
    --background-color:#23243B;
    --padding-width-main-screen:clamp(10px,2vw,100px);
    --font-size-large:clamp(20px,5vw,30px);
    }
body{
    margin: 0;
    height: 100vh;
    font-family: 'kingthings_exeterregular';
    
}
.game-screen{
    display: grid;
    grid-template-columns: minmax(50px,125px) auto;
    grid-template-rows: 1fr;
    height: 100%;
}
.game-screen__skills{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color:  var(--background-color);
    min-width: 100px;
    align-items: center;
    box-sizing: border-box;
    padding-top: 2vh;
    padding-bottom: 2vh;
    grid-area: 1 / 1 / 2 / 2;
}
.skills__header{
    grid-area: 1 / 1 / 2 / 2;
    width: 50%;
    background-color:  var(--background-color);
    color: var(--font-color);
    font-size: var(--font-size-large)
}
.skills__individual{
    grid-area: 2 / 1 / 3 / 2;
    gap: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 80vh;
    width: 100%;
}
.skills__individual::-webkit-scrollbar {
    display: none;
  }
  .skill{
    background-color:  var(--background-color);
    text-align: center;
    color: var(--font-color);
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: clamp(15px,2vw,18px);
    padding: 2px;
    cursor: pointer;
}
.skills__settings{
    grid-area: 3 / 1 / 4 / 2;
    background-color:  var(--background-color);
    color: var(--font-color);
    width: 100%;
    cursor: pointer;
}
.game-screen__main-screen{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr;
    background-color:  var(--background-color);
}
.main-screen__current-skill{
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: 75px 65%;
    grid-template-rows: 50% 50%;
    border-width: 10px var(--padding-width-main-screen);
    border-style: solid;
    border-color: #33345E;
    color: var(--font-color);
    align-items: center;
}
.current-skill__image{
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.current-skill__name{
    grid-area: 1 / 2 / 2 / 3; 
    font-size: clamp(20px,5vw,30px)
}
.current-skill__description{
    font-size: clamp(9px,3vw,20px);
}
.current-skill__icon{
    object-fit: contain;
 }
 .main-screen__container{
    border: var(--padding-width-main-screen) solid #33345E;
 }
.main-screen__info{
    color: var(--font-color);
    padding: 1vh;
    box-sizing: border-box;
    grid-area: 2 / 1 / 3 / 2;
    background-color:  var(--background-color);
    
    height: 100%;
}
.main-screen__info--village{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}
.village__village{
    grid-area: 4 / 4 / 5 / 5; 
    content: Village;
}
.village-card__image--village{
    content:url("../images/icons/village.png");
}
.village__woodcutting{
    grid-area: 2 / 2 / 3 / 3;
}
.village-card__image--woodcutting{
    content:url("../images/icons/woodcutting.png");
}
.village__mining{
    grid-area: 2 / 4 / 3 / 5; 
}
.village-card__image--mining{
    content:url("../images/icons/mining.png");
}
.village__farming{
    grid-area: 2 / 6 / 3 / 7;
}
.village-card__image--farming{
    content:url("../images/icons/farming.png");
}
.village__crafting{
    grid-area: 4 / 2 / 5 / 3;
}
.village-card__image--crafting{
    content:url("../images/icons/crafting.png");
}
.village__hunting{
    grid-area: 4 / 6 / 5 / 7;
}
.village-card__image--hunting{
    content:url("../images/icons/hunting.png");
}
.village__leather-working{
    grid-area: 6 / 2 / 7 / 3;
}
.village-card__image--leather-working{
    content:url("../images/icons/leatherworking.png");
}
.village__blacksmith{
    grid-area: 6 / 4 / 7 / 5;
}
.village-card__image--blacksmith{
    content:url("../images/icons/blacksmith.png");
}
.village__army{
    grid-area: 6 / 6 / 7 / 7;
}
.village-card__image--army{
    content:url("../images/icons/army.png");
}
.village-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.village-card__text{
    font-size: clamp(14px,2vw,28px);
    text-align: center;
}
.village-card__image{
    width: clamp(40px,4vw,80px);
    height: auto;
}
.village-skill-modal{
   width: clamp(250px,75vw,650px);
   height: clamp(250px,75vw,650px);
    
}
.village-skill-modal::backdrop{
    backdrop-filter:  blur(1px);
}
.village-skill-modal__skill-name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-large);
}
.skill-modal-main-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}
.village-skill-modal__upgrades-list{
    height: 100%;
}
.village-skill-modal__skill-name__close-button{
    position: relative;
    bottom: 1vh;
    left: 12vw;
}
.village-skill-modal{
    background-color: var(--background-color);
    border: 1px solid black;
    color: var(--font-color);
    animation: show .75s ease normal;
}
.village-skill-modal__upgrades-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
  @keyframes show {
    from {
      transform: translateY(-180%);
    }
    to {
      transform: translateY(0%);
    }
  }
  .village-skill-modal--hide {
    animation: hide .75s ease normal;
  }
  
  @keyframes hide {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(-180%);
    }
  }
  